<div class="min-h-screen bg-gray-100 p-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div *ngFor="let pokemon of pokemons" [routerLink]="'/pokemon/' + pokemon.name"
      class="cursor-pointer bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow p-4">
      <h3 class="text-lg font-semibold">{{ pokemon.name | titlecase }}</h3>

      <div class="flex flex-wrap gap-2 mt-2">
        <span *ngFor="let type of pokemon.types" [ngClass]="getTypeColor(type)"
          class="px-4 py-1 rounded-full text-white text-sm font-semibold shadow-sm hover:scale-105 transition-transform duration-200">
          {{ type }}
        </span>
      </div>
      <img [src]="pokemon.image" alt="{{ pokemon.name }}"
        class="w-32 h-32 object-contain rounded mt-2 mx-auto transition-transform duration-300 hover:scale-105">
      <div class="text-sm text-gray-500  pt-4 mt-4">
        Level: {{ pokemon.level }}
      </div>
    </div>
  </div>
  <div class="text-center my-4">
    <button (click)="loadPokemons()" 
      class="bg-[#E86E30] text-white px-4 py-2 rounded hover:bg-orange-600 transition">
     Load more
    </button>
  </div>
</div>