<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-sm text-center">
    <h2 class="text-2xl font-bold mb-4">Pokedex - Lite</h2>
    <input type="text" [(ngModel)]="username" placeholder="User"
      class="w-full p-2 border text-gray-500 border-gray-300 outline-[#E86E30] rounded mb-2" />
    <input type="password" [(ngModel)]="password" placeholder="Password"
      class="w-full p-2 border text-gray-500 border-gray-300 outline-[#E86E30] rounded mb-4 " />
    <button (click)="login()" class="w-full bg-[#E86E30] text-white py-2 rounded hover:bg-[#E86E30]/90 ">
      Login
    </button>
    <p *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</p>
  </div>
</div>