<div class="w-full md:w-[70%] mx-auto px-4 py-8">
    <div class=" bg-white p-6 rounded-lg shadow-lg mt-4">
        <h1 class="block text-lg font-semibold mt-4">Information</h1>
        <label class="block text-md font-normal mt-4">Name</label>
        <input type="text" [(ngModel)]="pokemon.name"
            class="border rounded p-2 w-full border-gray-300 outline-[#E86E30]">

        <label class="block text-md font-normal mt-4">Level</label>
        <input type="number" [(ngModel)]="pokemon.level"
            class="border rounded p-2 w-full border-gray-300 outline-[#E86E30]">

        <label class="block text-md font-normal mt-4">Types</label>
        <div class="py-2">
            <span *ngFor="let type of pokemon.types; let i = index"
                class="bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-sm mr-2">
                {{ type }}
                <button (click)="removeType(i)" class="ml-1 text-red-500">&times;</button>
            </span>
        </div>

        <div class="flex gap-2 mb-4">
            <input type="text" [(ngModel)]="newType" class="border rounded p-2 w-full border-gray-300 outline-[#E86E30]"
                placeholder="Add type">
            <button (click)="addType()"
                class="bg-[#E86E30] hover:bg-orange-600 transition cursor-pointer  text-white px-4 py-2 rounded whitespace-nowrap "><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-circle-plus-icon lucide-circle-plus">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                </svg></button>
        </div>

    </div>

    <div class="w-full bg-white p-6 rounded-lg shadow-lg mt-4">
        <h1 class="block text-lg font-semibold mt-4">Abilities</h1>
        <div class="py-2">
            <span *ngFor="let ability of pokemon.abilities; let i = index"
                class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm mr-2">
                {{ ability }}
                <button (click)="removeAbility(i)" class="ml-1 text-white">&times;</button>
            </span>
        </div>

        <div class="flex gap-2 mb-4">
            <input type="text" [(ngModel)]="newAbility"
                class="border rounded p-2 w-full border-gray-300 outline-[#E86E30]" placeholder="New ability">
            <button (click)="addAbility()"
                class="bg-[#E86E30] hover:bg-orange-600 transition cursor-pointer text-white px-4 py-2 rounded whitespace-nowrap"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-circle-plus-icon lucide-circle-plus">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                </svg></button>

        </div>

    </div>

    <div class="w-full bg-white p-6 rounded-lg shadow-lg mt-4">
        <h1 class="block text-lg font-semibold mt-4">Evolution</h1>
        <div class="py-2 flex flex-wrap gap-2">
            <span *ngFor="let evolution of pokemon.evolutions; let i = index"
                class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm mr-2">
                {{ evolution.name }}
                <button (click)="removeEvolution(i)" class="ml-1 text-white">&times;</button>
            </span>
        </div>

        <input type="text" [(ngModel)]="newEvolution"
            class="border rounded p-2 w-full border-gray-300 outline-[#E86E30] mb-2" placeholder="New evolution">
        <input type="number" [(ngModel)]="newEvolutionLevel"
            class="border rounded p-2 w-full border-gray-300 outline-[#E86E30]" placeholder="Level">

        <button (click)="addEvolution()"
            class="bg-[#E86E30] hover:bg-orange-600 transition cursor-pointer text-white px-2 py-1 rounded mt-2">Add
            evolution</button>

    </div>



    <div class="flex justify-end items-center gap-x-2 mt-2">
        <button (click)="goToHome()" class="text-black cursor-pointer hover:bg-[#E86E30] hover:text-white  px-4 py-2 rounded-lg text-md
        font-semibold transition">
            Cancel</button>
        <button (click)="saveChanges()"
            class=" cursor-pointer bg-[#E86E30] hover:bg-orange-600 transition text-white px-2 py-2 rounded flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-save-icon lucide-save">
                <path
                    d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" />
                <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
                <path d="M7 3v4a1 1 0 0 0 1 1h7" />
            </svg>
            Save
        </button>
    </div>
</div>